$text-font:           'Roboto', sans-serif;
$title-font:          'Bebas Neue', cursive;

$color-purple:        #9789F9;
$color-blue-light:    #6FCFFB;
$color-red:           #FD8D7B;
$color-white:         #FFFFFF;
$color-light-grey:    #F5F3F9;
$color-dark-grey:     #A9A9A9;
$color-default-black: #000000;


$desktop:              1440px;
$desktop-small:        1024px;
$tablet-start:         768px;
$mobile:               320px;